/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


:root{
   --main-color: #471728;
   --color-1: #cbe91e;
   --color-2: #db9c15;
   --color-3: #09cfd6;
   --bg-dark: #040a1b;
   --main-dark: var(--main-color);
   --main-bg-dark: var(--bg-dark);
   --shadow-block-100: 0 5px 15px rgba(0,0,0,0.1);
   --shadow-block-300: 0 5px 15px rgba(0,0,0,0.3);
   --dark-900: #000000;
   --dark-400: #817f7f;
   --dark-100: #f7f7f7;
   --dark-000: #ffffff;
   --dark-alpha-100:rgba(0,0,0,0.05);
}
body{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
  background-color: var(--dark-000);
  line-height: 1.5;
}

*{
    margin: 0;
    padding: 0;
    outline: none!important;
}

img{
    max-width: 100%;
    vertical-align: middle;
}

ul{
    list-style: none;
}

.btn-1{
    background-color: var(--dark-000);
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    color: var(--main-color);
    font-size: 16px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    box-shadow: var(--shadow-block-300);
    font-weight: 500;
}

.btn-1:focus{
   box-shadow: var(--shadow-block-300);
}

.btn-1:hover{
    color: var(--dark-000);
    background-color: var(--main-color);
 }

 
.btn-2{
    background-color: var(--main-color);
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    color: var(--dark-000);
    font-size: 16px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    box-shadow: var(--shadow-block-100);
    font-weight: 500;
}

.btn-2:focus{
   box-shadow: var(--shadow-block-100);
}

.btn-2:hover{
    color: var(--main-color);
    background-color: var(--dark-000);
 }

 @keyframes spin{
   0%{
       transform: rotate(0deg);
   }
   100%{
       transform:rotate(360deg);
   }
 }

 @keyframes bounceTop {
     0%,100%{
         transform: translateY(-30px);
     }
     50%{
         transform: translateY(0px);
     }
 }

 @keyframes play{
    0%{
        transform: scale(0.94);
        box-shadow: 0 0 0 0 rgba(255,255,255,0.7);
    }
    70%{
        transform: scale(1);
        box-shadow: 0 0 0 12px rgba(255,255,255,0);
    }
    100%{
        transform: scale(0.94);
        box-shadow: 0 0 0 0 rgba(255,255,255,0);
    }
 }

.effect-wrap .effect{
    position: absolute;
    z-index: -1;
}

.effect-wrap .effect-1{
    left: 20%;
    top: 20%;
    font-size: 25px;
    color: var(--color-1);
    animation: spin 6s linear infinite;
}

.effect-wrap .effect-2{
    right: 5%;
    top: 10%;
    font-size: 25px;
    color: var(--color-2);
    animation: spin 8s linear infinite;
}

.effect-wrap .effect-3{
    left: 5%;
    bottom: 30%;
    font-size: 30px;
    color: var(--color-3);
    animation: bounceTop 4s linear infinite;
}

.section-padding{
    padding: 80px 0;
}
.section-title{
    padding-bottom: 60px;
}
.section-title h2{
    font-size: 40px;
    color: var(--dark-900);
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
}

.section-title h2 span{
    color: var(--main-color);
}
.owl-carousel .owl-dots{
      padding: 0 15px;
      text-align: center;
      margin-top: 20px;
}

.owl-carousel button.owl-dot{
    height: 7px;
    width: 24px;
    background-color: var(--dark-400);
    display: inline-block;
    margin: 0 4px;
    border-radius: 5px;
}
.owl-carousel button.owl-dot.active{
    background-color: var(--main-color);
}
/* NAVBAR */
.navbar{
    background-color: transparent;
    padding: 20px 0;
}

.navbar > .container{
    padding: 0 15px;
}

.navbar .navbar-brand{
    font-size: 30px;
    color: var(--dark-000);
    font-weight: 500;
    text-transform: capitalize;
}

.navbar .nav-item{
    margin-left: 40px;
}

.navbar .nav-item .nav-link{
    color: var(--dark-000);
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    padding: 5px 0;
    position: relative;
}

.navbar .nav-item .nav-link::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    background-color: var(--dark-000);
    transition: all 0.5s ease;
    transform: scale(0);
}

.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before{
    transform: scale(1);
}

/* Change background navbar */
.scroll-navbar {
    background-color: var(--main-color);
    box-shadow: 0 0 4px rgba(14, 55, 63, 0.15);
  }

/* HOME */
.home{
    min-height: 100vh;
    padding: 100px 0;
    background-color: var(--main-dark);
    border-radius: 0 0 100px 0;
    position: relative;
    z-index: 1;
}

.home-text h1{
    font-size: 45px;
    font-weight: 700;
    color: var(--dark-000) ;
    margin: 0 0 20px;
}

.home-text p{
    font-size: 18px;
    font-weight: 300;
    color: var(--dark-000) ;
    margin: 0;
    line-height: 28px;
}

.home .home-btn{
 margin-top: 40px;
}

.home .home-btn .video-play-btn{
    margin-left: 30px;
    height: 50px;
    width: 50px;
    padding: 0;
    animation: play 1s ease infinite;
}

.home .home-btn .video-play-btn i{
  line-height: 50px;
}

.home-img img{
    max-width: 250px;
    width: 100%;
    box-shadow: var(--shadow-block-100);
    border-radius: 32px;
    animation: bounceTop 3s ease infinite;
}

.home-img{
    position: relative;
}


/*==================== MODAL ====================*/

/* VIDEO POPUP */
.video-popup{
    position: fixed;
    padding: 30px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1999;
    background-color: rgba(0, 0, 0, 0.747);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}

.video-popup-inner{
    width: 100%;
    max-width: 900px;
    position: relative;
}

.video-popup .iframe-box{
    height: 0;
    overflow:hidden;
    padding-top: 56.25%
}
.video-popup #player{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.video-popup .video-popup-close{
    position: absolute;
    right: 0;
    top: -30px;
    width: 30px;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    color: #ffffff;
}

.video-popup.open{
    opacity: 1;
    visibility: visible;
}

.player__modal-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--main-color);
    cursor: pointer;
}

/* Active Modal */
.active-modal{
    opacity: 1;
    visibility: visible;
}

/*==================== Services ====================*/
.services .service-item{
    box-shadow: var(--shadow-block-100);
    margin: 15px;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    z-index: 1;
    overflow:hidden;
}
.services .service-item::before,
.services .service-item::after{
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    transition:  all 0.5s ease;
    opacity: 0;
}

.services .service-item::before{
   height: 20px;
   width: 20px;
   background-color: var(--color-1);
   left: -20px;
   top: 40px;
}

.services .service-item:hover::before{
    left: 10px;
    opacity: 1;
}
.services .service-item::after{
    height: 30px;
    width: 30px;
    background-color: var(--color-3);
    right: -30px;
    bottom: 80px;
 }
 .services .service-item:hover::after{
     right: -10px;
     opacity: 1;
 }
.services .service-item .icon{
    height: 60px;
    width: 60px;
    margin: 0 auto 30px;
    text-align: center;
    font-size: 30px;
    color: var(--main-color);
    position: relative;
    z-index: 1;
    transition: all 0.5s ease;
}

.services .service-item .icon::before{
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    width:100%;
    height: 100%;
    background-color: var(--main-color);
    transition: all 0.5s ease;
    z-index: -1;
    opacity: 0;
}

.services .service-item:hover .icon{
    color: var(--dark-000);
    font-size: 20px;
}
.services .service-item:hover .icon::before{
    left: 0;
    border-radius: 50%;
    opacity: 1;
}

.services .service-item .icon i{
    line-height: 60px;
    font-size: 16px;
}

.services .service-item h3{
    font-size: 22px;
    margin: 0 0 20px;
    color: var(--dark-900);
    font-weight: 500;
    text-transform: capitalize;
}

.services .service-item p{
      font-size: 16px;
      line-height: 26px;
      font-weight: 300;
      color: var(--dark-400);
      margin: 0 0 15px;
}

/*==================== ACHIVMENTS ====================*/
.facts{
    background-color: var(--dark-100);
}

.facts-img img{
    max-width: 250px;
    width: 100%;
    box-shadow: var(--shadow-block-100);
    border-radius: 32px;
    animation: bounceTop 3s ease infinite;
}

.facts section-title{
    margin-bottom: 20px;
}

.facts section-title h2{
    text-align: left;
}

.fact-text{
    font-size: 16px;
    line-height: 26px;
    color: var(--dark-900);
    margin: 0 0 15px;
    font-weight: 300;
}

.achiv-item{
    padding: 40px 30px;
    text-align: center;
    box-sizing: var(--shadow-block-100);
    border-radius: 10px;
    margin-top: 30px;
}

.achiv-item h3{
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    margin: 0 0 5px;
}

.achiv-item span{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0;
    line-height: 26px;
    display: block;
    color: #ffffff;
}
.achiv-item.style1{
    background-color: var(--color-1);
}
.achiv-item.style2{
    background-color: var(--color-2);
}
.achiv-item.style3{
    background-color: var(--color-3);
}
.achiv-item.style4{
    background-color: var(--main-color);
}

/*==================== FINDUS ====================*/
.findus{
    background-image: url('../img/findus.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.findus .section-title h2{
 color: #ffffff;
}

.findus::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #660728a1;
    opacity: 0.9;
}

.findus-item{
    background-color: var(--dark-000);
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: var(--shadow-block-100);
}

.findus-item i{
    font-size: 30px;
    color: var(--main-color);
    display: inline-block;
}

.findus-item h3{
    font-size: 22px;
    color: var(--dark-900);
    margin: 20px 0;
    font-weight: 500;
    text-transform: capitalize;
}

.findus-item p{
    font-size: 16px;
    color: var(--dark-400);
    font-weight: 300;
    margin: 0 0 30px;
    line-height: 26px;
}

/*==================== HOW IT WORKS ====================*/
.how-it-works-item{
    padding: 30px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.how-it-works-item.line-right::before{
   content: '';
   position: absolute;
   height: 2px;
   width: 100%;
   left: 50%;
   top: 60px;
   background-color: var(--main-color);
   z-index: -1;
}

.how-it-works-item .step{
    display: inline-block;
    height: 60px;
    width: 60px;
    background-color: var(--main-color);
    font-size: 30px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    color: #ffffff;
    font-weight: 500;
    margin: 0 0 15px;
}

.how-it-works-item h3{
    margin: 20px 0;
    font-size: 22px;
    font-weight: 500;
    color: var(--dark-900);
    text-transform: capitalize;
}

.how-it-works-item p{
    font-size: 16px;
    font-weight: 300;
    margin:0;
    color: var(--dark-400);
    line-height: 26px;
}

/*==================== TESTIMONIALS ====================*/
.testimonials{
    background-color: var(--dark-100);
}

.testimonials-item{
    margin: 15px;
    padding: 30px;
    box-shadow: var(--shadow-block-100);
    border-radius: 10px;
    text-align: center;
}

.testimonials-item .img-box{
    height: 100px;
    width: 100px;
    display: inline-block;
    margin-bottom: 30px;
    border: 4px solid var(--main-color);
    border-radius: 50%;
    position: relative;
}

.testimonials-item .img-box img{
    border-radius: 50%;
    width: 100%;
}

.testimonials-item .img-box i{
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: var(--main-color);
    border-radius: 50%;
    color: #ffffff;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    left: calc(100% - 15px);
    top: calc(50% - 15px);
}

.testimonials-item p{
    font-size: 16px;
    margin: 0 0 20px;
    color: var(--dark-400);
    line-height: 26px;
    font-weight: 300;
}

.testimonials-item h3{
    font-size: 18px;
    color: var(--dark-900);
    font-weight: 500;
    margin: 0 0 5px;
    text-transform: capitalize;
}

.testimonials-item span{
    display: block;
    font-size: 16px;
    color: var(--dark-400);
    font-weight: 300;
}

.testimonials-item .rating{
    margin-top: 10px;
}

.testimonials-item .rating i{
    display: inline-block;
    font-size: 16px;
    color: var(--color-2);
}

/*==================== PRICING ====================*/
.pricing-plan{
    box-shadow: var(--shadow-block-100);
    border-radius: 10px;
}

.pricing-plan .pricing-header{
    padding: 20px 30px;
    border-bottom: 1px solid var(--dark-alpha-100);
}

.pricing-plan .pricing-header h3{
    text-align: center;
    font-size: 30px;
    color: var(--dark-900);
    font-weight: 500;
    text-transform: capitalize;
    margin: 0;
}

.pricing-plan .pricing-price{
    padding: 40px 30px;
    display: flex;
    justify-content: center;
    line-height: 0.7;
}

.pricing-plan .pricing-price .currency{
    font-size: 16px;
    font-weight: 300;
    color: var(--dark-400);
    margin-right: 50px;
    align-self: flex-start;
}

.pricing-plan .pricing-price .price{
    font-size: 80px;
    font-weight: 700;
    color: var(--main-color);
}

.pricing-plan .pricing-price .period{
    font-size: 16px;
    font-weight: 300;
    color: var(--dark-400);
    margin-right: 5px;
    align-self: flex-end;
    text-transform: uppercase;
}

.pricing-plan .pricing-body{
    padding: 0 30px;
}

.pricing-plan .pricing-body ul li{
    font-size: 16px;
    font-weight: 300;
    color: var(--dark-400);
    padding: 10px 0 10px 30px;
    border-bottom: 1px solid var(--dark-alpha-100);
    line-height: 26px;
    position: relative;
}

.pricing-plan .pricing-body ul li i{
    color: var(--main-color);
    position: absolute;
    left: 0;
    top: 12px;
}

.pricing-plan .pricing-footer{
    padding: 20px 30px 30px;
    text-align: center;
}